In [44]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when , lit

# Create a Spark session
spark = SparkSession.builder \
    .appName("OuterJoinExample") \
    .getOrCreate()

s3_path1 = 'gs://gstock_data2/output_google.csv'
s3_path2 = 'gs://inputdatastock/GOOG.csv'

23/12/19 16:25:48 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [45]:
df1 = spark.read.csv(s3_path1, header=True, inferSchema=True)
df2 = spark.read.csv(s3_path2, header=True, inferSchema=True)

In [46]:
df1 = df1.withColumn("stock_name", lit("Google"))
df2 = df2.withColumn("stock_name", lit("Google"))

In [47]:
df1.show(5)

+----------------+------+------+--------+------+-----------+-------+----------+
|            Date|  Open|  High|     Low| Close| Adj. Close| Volume|stock_name|
+----------------+------+------+--------+------+-----------+-------+----------+
|13-12-2010 00:00|597.12| 603.0|  594.09|594.62|298.2306093|4792200|    Google|
|14-12-2010 00:00|597.09|598.29|  592.48|594.91|298.3760583|3283300|    Google|
|15-12-2010 00:00| 594.2|596.45|589.1501| 590.3| 296.063921|4331000|    Google|
|16-12-2010 00:00|592.85|593.77|  588.07|591.71| 296.771104|3190600|    Google|
|17-12-2010 00:00| 591.0|592.56|  587.67| 590.8|296.3146951|6168000|    Google|
+----------------+------+------+--------+------+-----------+-------+----------+
only showing top 5 rows

In [48]:
df2.show(5)

+-------------------+---------+---------+---------+---------+---------+--------+----------+
|               Date|     Open|     High|      Low|    Close|Adj Close|  Volume|stock_name|
+-------------------+---------+---------+---------+---------+---------+--------+----------+
|2018-03-28 00:00:00|49.900002|51.211498|49.032001|50.228001|50.228001|67386000|    Google|
|2018-03-29 00:00:00|50.581501|52.150002|   50.145|  51.5895|  51.5895|54536000|    Google|
|2018-04-02 00:00:00|51.140999|51.740002|49.518501|50.323502|50.323502|53608000|    Google|
|2018-04-03 00:00:00|50.695499|  51.0495|49.703499|50.670502|50.670502|45502000|    Google|
|2018-04-04 00:00:00|49.670502|51.435902|49.650002|   51.257|   51.257|49694000|    Google|
+-------------------+---------+---------+---------+---------+---------+--------+----------+
only showing top 5 rows

In [49]:

# Define the common column to join on
common_column = "Date"

# Perform the outer join operation
combined_df = df1.union(df2)

# Show the resulting DataFrame
combined_df.show()

+----------------+------+--------+--------+------+-----------+-------+----------+
|            Date|  Open|    High|     Low| Close| Adj. Close| Volume|stock_name|
+----------------+------+--------+--------+------+-----------+-------+----------+
|13-12-2010 00:00|597.12|   603.0|  594.09|594.62|298.2306093|4792200|    Google|
|14-12-2010 00:00|597.09|  598.29|  592.48|594.91|298.3760583|3283300|    Google|
|15-12-2010 00:00| 594.2|  596.45|589.1501| 590.3| 296.063921|4331000|    Google|
|16-12-2010 00:00|592.85|  593.77|  588.07|591.71| 296.771104|3190600|    Google|
|17-12-2010 00:00| 591.0|  592.56|  587.67| 590.8|296.3146951|6168000|    Google|
|20-12-2010 00:00|594.65|597.8799|588.6565|595.06|298.4512905|3942600|    Google|
|21-12-2010 00:00|598.57|604.7199| 597.615|603.07|302.4686919|3755200|    Google|
|22-12-2010 00:00| 604.0|   607.0|  603.28|605.49|303.6824386|2412500|    Google|
|23-12-2010 00:00|605.34|   606.0|  602.03|604.23|303.0504878|2219300|    Google|
|27-12-2010 00:00|602.74|  603.78|   599.5|602.38|302.1226236|2413700|    Google|
|28-12-2010 00:00|602.05|  603.87|  598.01|598.92|300.3872667|2127400|    Google|
|29-12-2010 00:00| 602.0|  602.41|  598.92| 601.0| 301.430487|2036300|    Google|
|30-12-2010 00:00| 598.0| 601.334|597.3901|598.86|300.3571738|1977000|    Google|
|31-12-2010 00:00|596.74|  598.42|  592.03|593.97| 297.904603|3075500|    Google|
|03-01-2011 00:00|596.48|  605.59|  596.48|604.35|303.1106736|4725600|    Google|
|04-01-2011 00:00|605.62|  606.18|  600.12|602.12|301.9922211|3645300|    Google|
|05-01-2011 00:00|600.07|  610.33|  600.05|609.07|305.4779813|5059500|    Google|
|06-01-2011 00:00|610.68|  618.43|  610.05| 613.5|307.6998399|4111400|    Google|
|07-01-2011 00:00|615.91|  618.25|  610.13|616.44|309.1743917|4198100|    Google|
|10-01-2011 00:00| 614.8|  615.39|  608.56|614.21|308.0559392|3155200|    Google|
+----------------+------+--------+--------+------+-----------+-------+----------+
only showing top 20 rows

In [50]:
num_rows = combined_df.count()

# Get the number of columns
num_rows

2772

In [ ]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("ExportCombinedData").getOrCreate()

# Define the output path in GCS
output_path = "gs://output_bucket_datasets/combined_google_df.csv"

# Write the combined DataFrame to a CSV file in GCS
combined_df.write.csv(output_path, header=True, mode="overwrite")

In [51]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("Google_Describe").getOrCreate()


Google = combined_df

# Use the describe method to compute basic statistics
description = Google.describe()

# Show the result
description.show()

# Stop the Spark session
spark.stop()

23/12/19 16:26:43 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+-------+----------------+------------------+------------------+------------------+----------------+------------------+--------------------+----------+
|summary|            Date|              Open|              High|               Low|           Close|        Adj. Close|              Volume|stock_name|
+-------+----------------+------------------+------------------+------------------+----------------+------------------+--------------------+----------+
|  count|            2772|              2772|              2772|              2772|            2772|              2772|                2772|      2772|
|   mean|            null| 519.1502297813857| 523.2266671702731|  514.643472629511|519.043394873376|409.56053325389615|1.2839723719696969E7|      null|
| stddev|            null|349.08919269399416|351.51532059792305|346.24123453151583|348.936012657324|307.80667617874695|1.5642162295457924E7|      null|
|    min|01-02-2011 00:00|            48.695|         50.176998|         48.505501|       48.811001|         48.811001|              521141|    Google|
|    max|31-12-2015 00:00|            1226.8|           1228.88|            1218.6|         1220.17|           1187.56|           124140000|    Google|
+-------+----------------+------------------+------------------+------------------+----------------+------------------+--------------------+----------+

In [46]:
gstock_data2

NameError: name 'gstock_data2' is not defined

In [109]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import from_unixtime
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from pyspark.sql.functions import col
import nltk


# Replace 'your_file_path.csv' with the actual path to your CSV file
COMPANY_TWEETS = "gs://output_samar/Company_Tweet.csv"
TWEETS= "gs://output_samar/Tweet.csv"
OUTPUT = "gs://output_samar/output"
# meta_Tweets = "gs://input_samar/meta_tweets"
# google_Tweets = "gs://input_samar/google_tweets"
# tesla_Tweets = "gs://input_samar/tesla_tweets"

spark = SparkSession.builder.appName("SentimentAnalysis").getOrCreate()

# Read the CSV file into a DataFrame
Company_Tweet = spark.read.csv(COMPANY_TWEETS, header=True, inferSchema=True)
Tweet = spark.read.csv(TWEETS, header=True, inferSchema=True)

print("Tweets:")
Tweet.show(5)

23/12/19 20:13:01 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

Tweets:

+------------------+---------------+----------+--------------------+-----------+-----------+--------+
|          tweet_id|         writer| post_date|                body|comment_num|retweet_num|like_num|
+------------------+---------------+----------+--------------------+-----------+-----------+--------+
|550441509175443456|VisualStockRSRC|1420070457|lx21 made $10,008...|          0|          0|       1|
|550441672312512512|    KeralaGuy77|1420070496|Insanity of today...|          0|          0|       0|
|550441732014223360|    DozenStocks|1420070510|S&P100 #Stocks Pe...|          0|          0|       0|
|550442977802207232|   ShowDreamCar|1420070807|$GM $TSLA: Volksw...|          0|          0|       1|
|550443807834402816|   i_Know_First|1420071005|Swing Trading: Up...|          0|          0|       1|
+------------------+---------------+----------+--------------------+-----------+-----------+--------+
only showing top 5 rows

In [110]:
# Merge the two DataFrames on the 'tweet_id' column
merged_df = Tweet.join(Company_Tweet, on='tweet_id')


# Converting seconds to date time format
merged_df = merged_df.withColumn("timestamp_column", from_unixtime(merged_df["post_date"]).cast("timestamp"))
merged_df.show(5)

+------------------+---------------+----------+--------------------+-----------+-----------+--------+-------------+-------------------+
|          tweet_id|         writer| post_date|                body|comment_num|retweet_num|like_num|ticker_symbol|   timestamp_column|
+------------------+---------------+----------+--------------------+-----------+-----------+--------+-------------+-------------------+
|550447574285418497|      btcgemini|1420071903|We searched throu...|          0|          0|       0|         AAPL|2015-01-01 00:25:03|
|550450683309072384|     10Xtrading|1420072644|Clay Trader Apple...|          0|          0|       0|         AAPL|2015-01-01 00:37:24|
|550455355134578688|  BoilerWarrior|1420073758|http://StockAviat...|          0|          0|       0|         MSFT|2015-01-01 00:55:58|
|550460180631011328|Maximum_Pain_cm|1420074908|$AMZN OI for matu...|          0|          0|       0|         AMZN|2015-01-01 01:15:08|
|550461555423584257|     t_nathan95|1420075236|Prediction: $TWTR...|          0|          0|       1|         GOOG|2015-01-01 01:20:36|
+------------------+---------------+----------+--------------------+-----------+-----------+--------+-------------+-------------------+
only showing top 5 rows

In [112]:
from pyspark.sql.functions import col, date_format

merged_df = merged_df.withColumn('date', date_format(col('timestamp_column'), 'yyyy-MM-dd'))
merged_df.show(5)

+------------------+---------------+----------+--------------------+-----------+-----------+--------+-------------+-------------------+----------+
|          tweet_id|         writer| post_date|                body|comment_num|retweet_num|like_num|ticker_symbol|   timestamp_column|      date|
+------------------+---------------+----------+--------------------+-----------+-----------+--------+-------------+-------------------+----------+
|550447574285418497|      btcgemini|1420071903|We searched throu...|          0|          0|       0|         AAPL|2015-01-01 00:25:03|2015-01-01|
|550450683309072384|     10Xtrading|1420072644|Clay Trader Apple...|          0|          0|       0|         AAPL|2015-01-01 00:37:24|2015-01-01|
|550455355134578688|  BoilerWarrior|1420073758|http://StockAviat...|          0|          0|       0|         MSFT|2015-01-01 00:55:58|2015-01-01|
|550460180631011328|Maximum_Pain_cm|1420074908|$AMZN OI for matu...|          0|          0|       0|         AMZN|2015-01-01 01:15:08|2015-01-01|
|550461555423584257|     t_nathan95|1420075236|Prediction: $TWTR...|          0|          0|       1|         GOOG|2015-01-01 01:20:36|2015-01-01|
+------------------+---------------+----------+--------------------+-----------+-----------+--------+-------------+-------------------+----------+
only showing top 5 rows

In [ ]:
#TWITTER SENTIMENTS PROCESSING

In [13]:
# Download the VADER lexicon for sentiment analysis (run this only once)
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [85]:
# Initialize the VADER sentiment intensity analyzer
sia = SentimentIntensityAnalyzer()

# Define a UDF (User Defined Function) to apply sentiment analysis to the 'body' column
def analyze_sentiment(text):
  sentiment_score = sia.polarity_scores(text)['compound']
  if sentiment_score >= 0.05:
      return 'positive'
  elif sentiment_score <= -0.05:
      return 'negative'
  else:
      return 'neutral'

# Register the UDF
sentiment_analysis_udf = udf(analyze_sentiment, StringType())

In [123]:
# Apply sentiment analysis to the 'body' column and create a new column 'sentiment'
merged_df = merged_df.withColumn("sentiment", sentiment_analysis_udf(merged_df["body"]))
merged_df_new = merged_df.select('ticker_symbol','date','sentiment')
merged_df_new.show(5)

+-------------+----------+---------+
|ticker_symbol|      date|sentiment|
+-------------+----------+---------+
|         AAPL|2015-01-01|  neutral|
|         AAPL|2015-01-01| negative|
|         AAPL|2015-01-01| positive|
|         AAPL|2015-01-01|  neutral|
|         AMZN|2015-01-01| negative|
+-------------+----------+---------+
only showing top 5 rows

In [124]:
merged_df_new.write.csv(OUTPUT, header=True, mode="overwrite")

In [ ]:
#END

In [52]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when , lit

# Create a Spark session
spark = SparkSession.builder \
    .appName("OuterJoinExample") \
    .getOrCreate()

s3_path1 = 'gs://inputdataapple/AAPL.csv'
s3_path2 = 'gs://inputdataapple/output_apple.csv'

23/12/19 16:28:00 INFO SparkEnv: Registering MapOutputTracker
23/12/19 16:28:00 INFO SparkEnv: Registering BlockManagerMaster
23/12/19 16:28:00 INFO SparkEnv: Registering BlockManagerMasterHeartbeat
23/12/19 16:28:00 INFO SparkEnv: Registering OutputCommitCoordinator

In [53]:
df1 = spark.read.csv(s3_path1, header=True, inferSchema=True)
df2 = spark.read.csv(s3_path2, header=True, inferSchema=True)

In [54]:
df1 = df1.withColumn("stock_name", lit("Apple"))
df2 = df2.withColumn("stock_name", lit("Apple"))

In [55]:
df1.show(5)

+-------------------+---------+---------+---------+---------+---------+---------+----------+
|               Date|     Open|     High|      Low|    Close|Adj Close|   Volume|stock_name|
+-------------------+---------+---------+---------+---------+---------+---------+----------+
|2018-03-28 00:00:00|  41.8125|42.505001|41.297501|41.619999|39.516926|166674000|     Apple|
|2018-03-29 00:00:00|41.952499|  42.9375|41.724998|   41.945|  39.8255|153594000|     Apple|
|2018-04-02 00:00:00|    41.66|42.235001|  41.1175|41.669998|  39.5644|150347200|     Apple|
|2018-04-03 00:00:00|    41.91|  42.1875|41.220001|  42.0975|39.970299|121112000|     Apple|
|2018-04-04 00:00:00|41.220001|43.002499|41.192501|  42.9025|40.734608|138422000|     Apple|
+-------------------+---------+---------+---------+---------+---------+---------+----------+
only showing top 5 rows

In [56]:
df2.show(5)

+----------------+------+------+------+------+-----------+--------+----------+
|            Date|  Open|  High|   Low| Close| Adj. Close|  Volume|stock_name|
+----------------+------+------+------+------+-----------+--------+----------+
|13-12-2010 00:00|324.37|325.06| 321.0|321.67|41.33907832|15707700|     Apple|
|14-12-2010 00:00|321.73|322.54| 319.0|320.29|41.16172909|12536000|     Apple|
|15-12-2010 00:00| 320.0| 323.0|319.19|320.36|41.17072507|14904000|     Apple|
|16-12-2010 00:00|321.09|322.61| 320.1|321.25|41.28510247|11501100|     Apple|
|17-12-2010 00:00|321.63|321.79|320.23|320.61|41.20285355|13818900|     Apple|
+----------------+------+------+------+------+-----------+--------+----------+
only showing top 5 rows

In [57]:
common_column = "Date"

combined_df = df1.union(df2)

combined_df.show()

+-------------------+---------+---------+---------+---------+---------+---------+----------+
|               Date|     Open|     High|      Low|    Close|Adj Close|   Volume|stock_name|
+-------------------+---------+---------+---------+---------+---------+---------+----------+
|2018-03-28 00:00:00|  41.8125|42.505001|41.297501|41.619999|39.516926|166674000|     Apple|
|2018-03-29 00:00:00|41.952499|  42.9375|41.724998|   41.945|  39.8255|153594000|     Apple|
|2018-04-02 00:00:00|    41.66|42.235001|  41.1175|41.669998|  39.5644|150347200|     Apple|
|2018-04-03 00:00:00|    41.91|  42.1875|41.220001|  42.0975|39.970299|121112000|     Apple|
|2018-04-04 00:00:00|41.220001|43.002499|41.192501|  42.9025|40.734608|138422000|     Apple|
|2018-04-05 00:00:00|   43.145|43.557499|    43.02|43.200001|41.017086|107732800|     Apple|
|2018-04-06 00:00:00|  42.7425|43.119999|42.049999|42.095001|39.967922|140021200|     Apple|
|2018-04-09 00:00:00|42.470001|43.272499|42.462502|42.512501|40.364326|116070800|     Apple|
|2018-04-10 00:00:00|    43.25|     43.5|  42.8825|  43.3125|41.123905|113634400|     Apple|
|2018-04-11 00:00:00|43.057499|    43.48|42.924999|43.110001|40.931625| 89726400|     Apple|
|2018-04-12 00:00:00|43.352501|    43.75|43.259998|   43.535|41.335155| 91557200|     Apple|
|2018-04-13 00:00:00|   43.695|43.959999|43.462502|43.682499|41.475212|100497200|     Apple|
|2018-04-16 00:00:00|  43.7575|44.047501|  43.7075|43.955002|41.733936| 86313600|     Apple|
|2018-04-17 00:00:00|44.122501|44.735001|44.102501|44.560001|42.308376|106421600|     Apple|
|2018-04-18 00:00:00|44.452499|44.705002|44.220001|44.459999|42.213402| 83018000|     Apple|
|2018-04-19 00:00:00|43.439999|  43.8475|43.165001|43.200001|41.017086|139235200|     Apple|
|2018-04-20 00:00:00|42.650002|   42.805|41.357498|    41.43|39.336525|261964400|     Apple|
|2018-04-23 00:00:00|  41.7075|    41.73|41.022499|41.310001|39.222591|146062000|     Apple|
|2018-04-24 00:00:00|  41.4175|  41.5825|   40.305|40.735001|38.676643|134768000|     Apple|
|2018-04-25 00:00:00|40.654999|   41.355|40.602501|40.912498|38.845165|113528400|     Apple|
+-------------------+---------+---------+---------+---------+---------+---------+----------+
only showing top 20 rows

In [7]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("ExportCombinedData").getOrCreate()

# Define the output path in GCS
output_path = "gs://output_bucket_datasets/combined_apple_df.csv"

# Write the combined DataFrame to a CSV file in GCS
combined_df.write.csv(output_path, header=True, mode="overwrite")

23/12/19 15:48:42 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [8]:
num_rows = combined_df.count()

# Get the number of columns
num_rows

2780

In [58]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("Apple_Describe").getOrCreate()


Apple = combined_df

# Use the describe method to compute basic statistics
description = Apple.describe()

# Show the result
description.show()

# Stop the Spark session
spark.stop()

23/12/19 16:28:34 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+-------+----------------+------------------+------------------+------------------+-----------------+------------------+--------------------+----------+
|summary|            Date|              Open|              High|               Low|            Close|         Adj Close|              Volume|stock_name|
+-------+----------------+------------------+------------------+------------------+-----------------+------------------+--------------------+----------+
|  count|            2780|              2780|              2780|              2780|             2780|              2780|                2780|      2780|
|   mean|            null|223.05853067482013|225.10339854928074|220.82915491043173| 223.005911322302| 90.22356896482022| 6.091945360395683E7|      null|
| stddev|            null|184.85994316902384| 186.4493127897135|182.92308183484684|184.6940968548492|37.792829955186804|5.8051722603062585E7|      null|
|    min|01-02-2011 00:00|         35.994999|             36.43|              35.5|        35.547501|          34.11887|             5624800|     Apple|
|    max|31-12-2015 00:00|            702.41|            705.07|            699.57|            702.1|            181.72|           426510000|     Apple|
+-------+----------------+------------------+------------------+------------------+-----------------+------------------+--------------------+----------+

In [36]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when , lit

# Create a Spark session
spark = SparkSession.builder \
    .appName("OuterJoinExample") \
    .getOrCreate()

s3_path1 = 'gs://inputdatatesla/TSLA.csv'
s3_path2 = 'gs://inputdatatesla/output_tesla.csv'

In [37]:
df1 = spark.read.csv(s3_path1, header=True, inferSchema=True)
df2 = spark.read.csv(s3_path2, header=True, inferSchema=True)

In [38]:
df1 = df1.withColumn("stock_name", lit("Tesla"))
df2 = df2.withColumn("stock_name", lit("Tesla"))

In [39]:
df1.show(5)

+-------------------+---------+---------+---------+---------+---------+---------+----------+
|               Date|     Open|     High|      Low|    Close|Adj Close|   Volume|stock_name|
+-------------------+---------+---------+---------+---------+---------+---------+----------+
|2018-03-28 00:00:00|17.638666|17.912001|16.806667|17.185333|17.185333|315021000|     Tesla|
|2018-03-29 00:00:00|17.099333|18.063999|16.547333|17.742001|17.742001|227560500|     Tesla|
|2018-04-02 00:00:00|   17.084|17.355333|   16.306|16.832001|16.832001|241710000|     Tesla|
|2018-04-03 00:00:00|17.988001|18.223333|   16.966|17.835333|17.835333|282666000|     Tesla|
|2018-04-04 00:00:00|16.851999|19.224667|16.799999|19.129333|19.129333|298450500|     Tesla|
+-------------------+---------+---------+---------+---------+---------+---------+----------+
only showing top 5 rows

In [40]:
df2.show(5)

+----------------+-----+-------+-------+-----+----------+-------+----------+
|            Date| Open|   High|    Low|Close|Adj. Close| Volume|stock_name|
+----------------+-----+-------+-------+-----+----------+-------+----------+
|13-12-2010 00:00|31.64|  31.77|   30.4|30.55|     30.55| 410400|     Tesla|
|14-12-2010 00:00|30.29|30.3899| 27.761|28.53|     28.53|1765700|     Tesla|
|15-12-2010 00:00|28.67|  29.97|  28.53| 29.6|      29.6| 742900|     Tesla|
|16-12-2010 00:00| 30.0|  30.91|29.6501|30.81|     30.81| 790100|     Tesla|
|17-12-2010 00:00|31.34|  31.54|  30.71|31.36|     31.36| 813000|     Tesla|
+----------------+-----+-------+-------+-----+----------+-------+----------+
only showing top 5 rows

In [41]:
common_column = "Date"

combined_df = df1.union(df2)

combined_df.show()

+-------------------+---------+---------+---------+---------+---------+---------+----------+
|               Date|     Open|     High|      Low|    Close|Adj Close|   Volume|stock_name|
+-------------------+---------+---------+---------+---------+---------+---------+----------+
|2018-03-28 00:00:00|17.638666|17.912001|16.806667|17.185333|17.185333|315021000|     Tesla|
|2018-03-29 00:00:00|17.099333|18.063999|16.547333|17.742001|17.742001|227560500|     Tesla|
|2018-04-02 00:00:00|   17.084|17.355333|   16.306|16.832001|16.832001|241710000|     Tesla|
|2018-04-03 00:00:00|17.988001|18.223333|   16.966|17.835333|17.835333|282666000|     Tesla|
|2018-04-04 00:00:00|16.851999|19.224667|16.799999|19.129333|19.129333|298450500|     Tesla|
|2018-04-05 00:00:00|19.289333|20.417334|19.213333|20.381332|20.381332|286816500|     Tesla|
|2018-04-06 00:00:00|20.066668|20.618668|19.700001|19.953333|19.953333|202804500|     Tesla|
|2018-04-09 00:00:00|20.024668|20.633333|19.280666|19.310667|19.310667|153747000|     Tesla|
|2018-04-10 00:00:00|19.931334|20.473333|19.578667|20.313334|20.313334|164847000|     Tesla|
|2018-04-11 00:00:00|20.049334|20.598667|19.977333|   20.062|   20.062|112243500|     Tesla|
|2018-04-12 00:00:00|20.154667|20.263332|19.578667|19.605333|19.605333|114132000|     Tesla|
|2018-04-13 00:00:00|    20.24|20.263332|   19.732|20.022667|20.022667|109908000|     Tesla|
|2018-04-16 00:00:00|19.933332|19.977333|19.267332|   19.414|   19.414| 95077500|     Tesla|
|2018-04-17 00:00:00|19.257999|19.478001|   18.834|19.179333|19.179333|105000000|     Tesla|
|2018-04-18 00:00:00|19.405333|20.016001|19.210667|19.556667|19.556667| 98365500|     Tesla|
|2018-04-19 00:00:00|19.405333|20.067333|19.236668|20.005333|20.005333| 91359000|     Tesla|
|2018-04-20 00:00:00|19.677999|19.998667|19.316668|19.349333|19.349333| 84418500|     Tesla|
|2018-04-23 00:00:00|19.419333|19.441334|18.822001|18.891333|18.891333| 73401000|     Tesla|
|2018-04-24 00:00:00|     19.0|19.139334|18.563999|18.897333|18.897333| 85279500|     Tesla|
|2018-04-25 00:00:00|     18.9|19.010668|18.483334|18.712667|18.712667| 60204000|     Tesla|
+-------------------+---------+---------+---------+---------+---------+---------+----------+
only showing top 20 rows

In [20]:
num_rows = combined_df.count()

# Get the number of columns
num_rows

2772

In [21]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("ExportCombinedData").getOrCreate()

# Define the output path in GCS
output_path = "gs://output_bucket_datasets/combined_tesla_df.csv"

# Write the combined DataFrame to a CSV file in GCS
combined_df.write.csv(output_path, header=True, mode="overwrite")

23/12/19 15:56:17 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [42]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("tesla_Describe").getOrCreate()


Tesla = combined_df

# Use the describe method to compute basic statistics
description = Tesla.describe()

# Show the result
description.show()

# Stop the Spark session
spark.stop()

23/12/19 16:21:39 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+-------+----------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+
|summary|            Date|              Open|              High|               Low|             Close|         Adj Close|             Volume|stock_name|
+-------+----------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+
|  count|            2772|              2772|              2772|              2772|              2772|              2772|               2772|      2772|
|   mean|            null|144.93106920887448|147.50552565728722|142.16399961291478|144.92330989249626|144.92330989249626|5.324405609992785E7|      null|
| stddev|            null|111.97472371250208|113.66392659010755| 110.0693070200716| 111.9228503064317| 111.9228503064317|8.874408565031748E7|      null|
|    min|01-02-2011 00:00|         12.073333|         12.445333|         11.799333|         11.931333|         11.931333|             239600|     Tesla|
|    max|31-12-2015 00:00|        411.470001|        414.496674|        405.666656|        409.970001|        409.970001|          914082000|     Tesla|
+-------+----------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+

In [59]:
combined_df

DataFrame[Date: string, Open: double, High: double, Low: double, Close: double, Adj Close: double, Volume: int, stock_name: string]

In [ ]:
#PREDICTION

In [65]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml import Pipeline

# Create a Spark session
spark = SparkSession.builder.appName("StockPricePrediction").getOrCreate()


combined_df = spark.read.csv("gs://inputdataall/Final_all_stock_data.csv", header=True, inferSchema=True)


# Feature engineering: Create a feature vector from input columns
feature_cols = ["Open", "High", "Low", "Close", "Adj Close", "Volume"]
vector_assembler = VectorAssembler(inputCols=feature_cols, outputCol="features")

# Define a linear regression model
lr = LinearRegression(featuresCol="features", labelCol="Close", predictionCol="prediction", regParam=0.01)


# Create a pipeline
pipeline = Pipeline(stages=[vector_assembler, lr])

# Split the data into training and testing sets
(training_data, testing_data) = combined_df.randomSplit([0.8, 0.2], seed=42)

# Train the model
model = pipeline.fit(training_data)

# Make predictions on the testing data
predictions = model.transform(testing_data)

# Show predicted stock prices
predictions.select("Date", "Stock name", "Close", "prediction").show()



# Stop the Spark session
spark.stop()

+-------------------+----------+-------+------------------+
|               Date|Stock name|  Close|        prediction|
+-------------------+----------+-------+------------------+
|2010-12-15 00:00:00|     Apple| 320.36|320.64360400648644|
|2010-12-21 00:00:00|     Apple|324.205|323.97392494931535|
|2010-12-23 00:00:00|     Apple|  323.6|  323.710397915619|
|2010-12-31 00:00:00|     Apple| 322.56| 322.4955580071912|
|2011-01-10 00:00:00|     Apple|342.455| 341.9558463327928|
|2011-01-14 00:00:00|     Apple| 348.48|347.99432140642165|
|2011-01-25 00:00:00|     Apple|  341.4|340.61560061149265|
|2011-02-02 00:00:00|     Apple| 344.32| 344.3578138376179|
|2011-02-16 00:00:00|     Apple| 363.13| 363.1589174733379|
|2011-02-17 00:00:00|     Apple|  358.3|358.41944226926506|
|2011-02-18 00:00:00|     Apple| 350.56|351.33369111466067|
|2011-02-23 00:00:00|     Apple| 342.62|342.55787598327254|
|2011-02-25 00:00:00|     Apple| 348.16|347.85510526291745|
|2011-03-03 00:00:00|     Apple| 359.56| 359.1665728068847|
|2011-03-14 00:00:00|     Apple| 353.56| 353.7112783608036|
|2011-03-23 00:00:00|     Apple| 339.19|338.82852635580537|
|2011-04-04 00:00:00|     Apple| 341.19| 341.0931665879515|
|2011-05-06 00:00:00|     Apple| 346.66|346.95394398147846|
|2011-05-24 00:00:00|     Apple| 332.19| 332.4572073461659|
|2011-05-31 00:00:00|     Apple| 347.83|347.15090411796666|
+-------------------+----------+-------+------------------+
only showing top 20 rows

In [107]:
# Select relevant columns
predictions_flat = predictions.select("Date", "Stock name", "Close", "prediction")

# Show predicted stock prices
predictions_flat.show()

# Save predictions to a CSV file in GCS bucket
output_path = "gs://output_bucket_datasets/combined_predictions_df.csv"
predictions_flat.write.csv(output_path, header=True)

print("Predictions saved to:", output_path)

+-------------------+----------+-------+------------------+
|               Date|Stock name|  Close|        prediction|
+-------------------+----------+-------+------------------+
|2010-12-15 00:00:00|     Apple| 320.36|320.64360400648644|
|2010-12-21 00:00:00|     Apple|324.205|323.97392494931535|
|2010-12-23 00:00:00|     Apple|  323.6|  323.710397915619|
|2010-12-31 00:00:00|     Apple| 322.56| 322.4955580071912|
|2011-01-10 00:00:00|     Apple|342.455| 341.9558463327928|
|2011-01-14 00:00:00|     Apple| 348.48|347.99432140642165|
|2011-01-25 00:00:00|     Apple|  341.4|340.61560061149265|
|2011-02-02 00:00:00|     Apple| 344.32| 344.3578138376179|
|2011-02-16 00:00:00|     Apple| 363.13| 363.1589174733379|
|2011-02-17 00:00:00|     Apple|  358.3|358.41944226926506|
|2011-02-18 00:00:00|     Apple| 350.56|351.33369111466067|
|2011-02-23 00:00:00|     Apple| 342.62|342.55787598327254|
|2011-02-25 00:00:00|     Apple| 348.16|347.85510526291745|
|2011-03-03 00:00:00|     Apple| 359.56| 359.1665728068847|
|2011-03-14 00:00:00|     Apple| 353.56| 353.7112783608036|
|2011-03-23 00:00:00|     Apple| 339.19|338.82852635580537|
|2011-04-04 00:00:00|     Apple| 341.19| 341.0931665879515|
|2011-05-06 00:00:00|     Apple| 346.66|346.95394398147846|
|2011-05-24 00:00:00|     Apple| 332.19| 332.4572073461659|
|2011-05-31 00:00:00|     Apple| 347.83|347.15090411796666|
+-------------------+----------+-------+------------------+
only showing top 20 rows

Predictions saved to: gs://output_bucket_datasets/combined_predictions_df.csv